<p id="notice"><%= notice %></p>

<h1>Customers</h1>

<% @customers.each do |customer| %>
  <div class="row tall-lg">
    <div class="col-sm"><%= customer.company %></div>
    <div class="col-sm"><%= customer.contact %></div>
    <div class="col-sm"><%= customer.phone %></div>
    <div class="col-sm"><%= customer.address %> <%= customer.city %> <%= customer.state %></div>
    <div class="col-sm"><%= link_to 'Show', customer, :class=> 'btn btn-primary' %></div>
  </div>
<% end %>

